.me_msg {
    color: aqua
}

.nome_msg {
    color: rgb(255, 185, 185)
}

#field-box {
    height: 700px;
    overflow-y: scroll;
}

#input-div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#inp-box {
    position: absolute;
    left: 34%;
    height: 20pt;
    width: 30%;
    font-family: monospace;
    box-sizing: border-box;
    border-style: none;
}

#inp-btn {
    position: absolute;
    height: 24pt;
    right: 34%;
    margin: 3pt;
}

#user-info {
    height: 100px;
    width: 30%;
    margin: auto;
}

#user-image {
    height: 100px;
    width: 100px;
}

#username {
    position: absolute;
    top: 10px;
    height: 24pt;
    font-size: 14pt;
    left: 34%;
    margin-left: 120px;
    color: rgb(0, 0, 0)
}

#online {
    position: absolute;
    top: 10px;
    font-size: 14pt;
    height: 24pt;
    left: 34%;
    margin-left: 120px;
    margin-top: 25pt;
    color: rgb(0, 0, 0)
}